# This is the root configuration for the project.
root = true

# Global settings for all file types
[*]
indent_size = 4
indent_style = space

# JavaScript and TypeScript files
[*.{js,ts}]
indent_size = 2
indent_style = space

# Python files
[*.py]
indent_size = 4
indent_style = space

# HTML files
[*.html]
indent_size = 2
indent_style = space
